<div >
  <h4 class="igx-typography__h4">Explore</h4>
</div>

<div class="valign-wrapper" style="width: 100%;height:370px;position:relative;">
  <div class="valign" style="width: 100%;height: 100%">
    <div class="row" style="height: 100%">
      <div class="col s12" style="height: 100%">
        <app-map (placesLoaded)="loadPlaces()" (imagesLoaded)="loadImages()"></app-map>
      </div>
    </div>
  </div>
</div>

<igx-carousel [pause]="true" [loop]="false" [navigation]="true">
  <ng-container *ngFor="let place of places">
  <igx-slide >
      <div class="card-column">
        <igx-card routerLink="/details">
          <igx-card-header>
            <h3 igxCardHeaderTitle>{{place.name}}</h3>
            <igx-icon>thumb_up</igx-icon>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="../../assets/images/sushi.jpg">
          </igx-card-media>
        </igx-card>
      </div>
    </igx-slide>
  </ng-container>
    <!-- <igx-slide>
        <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;height: 250px">
          <div class="sample-column card-wrapper" style="position: relative;">
            <igx-card routerLink="/details">
              <igx-card-header>
                <h3 igxCardHeaderTitle>{{place.name}}</h3>
                <h5 igxCardHeaderSubtitle>2 mi</h5>
                <h5 igxCardHeaderSubtitle>
                  <igx-icon>favorite</igx-icon>
                </h5>
              </igx-card-header>
              <igx-card-media height="171px">
                <img src="../../assets/images/sushi.jpg">
              </igx-card-media>
            </igx-card>
          </div>
        </div>
      </igx-slide> -->
</igx-carousel>

<div style="text-align: center">
  <button igxButton="raised" igxButtonColor="white" routerLink="results" igxButtonBackground="#353A50">SHOW ALL RESULTS</button>
</div>
