@import '~igniteui-angular/lib/core/styles/themes/index';

.card-wrapper {
  max-width: 152px;
}

$colorful-card: igx-card-theme(
  $background: #353A50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}

button {
  margin-top: 16px;
  margin-bottom: 60px;
}

igx-carousel {
  margin-top: 16px;
}

h5 {
  text-align: left;
  // display: inline-block;
}