@import '~igniteui-angular/lib/core/styles/themes/index';

$colorful-card: igx-card-theme(
  $background: #353A50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}
.map-wrapper {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width: 100%;
  height: 370px;
  position: relative;
}
.card-column {
  max-width: 450px;
  display: block;
  flex-flow: row nowrap;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 300px;
  margin: 0 auto;
  margin-top: 15px;
  background: transparent;
}

.igx-card-header__title {
  font-size: 20px;
  margin: auto;
}

.igx-button--raised {
  margin-top: 10px;
  margin-bottom: 65px;
  width: 215px;
}

.igx-card {
  height: 350px;
}

igx-carousel {
  margin-top: 16px;
  height: 400px;
}

h5 {
  text-align: left;
}

button {
  border: none;
  background: #353a50
}
