@import '~igniteui-angular/lib/core/styles/themes/index';

$razzle-dazzle-rose: #ff2ad2;
$colorful-card: igx-card-theme(
  $background: #353A50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}
.map-wrapper {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width: 95%;
  height: 370px;
  position: relative;
  margin: auto;
}
.card-column {
  max-width: 450px;
  display: block;
  flex-flow: row nowrap;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 300px;
  margin: 0 auto;
  margin-top: 15px;
  background: transparent;
}

.igx-card-header__title {
  font-size: 20px;
  margin: auto;
}

.igx-button--raised {
  margin-top: 10px;
  margin-bottom: 65px;
  width: 215px;
}

.igx-card {
  height: 350px;
}

.chips-container {
  padding: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.chips {
  color: white;
  background: #353a50;
  font-size: 9px;
  font-family: 'Roboto';
  align-items: center;
  height: 56px;
  width: 65px;
  margin: 1em;
  cursor: pointer;
}

igx-carousel {
  height: 400px;
}

h5 {
  text-align: left;
}

button {
  border: none;
  background: #353a50
}

i {
  margin-top: 5px;
}

.igx-chip__item {
  height: 50px
}

.category {
  color: $razzle-dazzle-rose;
}
