<div>
  <h4 class="igx-typography__h4">Explore</h4>
</div>

<div class="valign-wrapper" style="width: 100%;height:370px;position:relative;">
  <div class="valign" style="width: 100%;height: 100%">
    <div class="row" style="height: 100%">
      <div class="col s12" style="height: 100%">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>

<div class="sample-column card-wrapper" style="position: relative;">
  <igx-card>
    <igx-card-header>
      <h3 igxCardHeaderTitle>Sushi Place</h3>
      <h5 igxCardHeaderSubtitle>2 mi</h5>
      <h5 igxCardHeaderSubtitle>
          <igx-icon>favorite</igx-icon>
      </h5>
    </igx-card-header>
      <igx-card-media height="171px">
      <img src="../../assets/images/sushi.png">
    </igx-card-media>
  </igx-card>
</div>

