@import '~igniteui-angular/lib/core/styles/themes/index';

$colorful-card: igx-card-theme(
  $background: #353a50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}

.card-column {
  max-width: 450px;
  display: block;
  flex-flow: row nowrap;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 300px;
  margin: 0 auto;
  margin-top: 15px;
  background: transparent;
}

.igx-card {
  height: 350px;
}

.igx-card-header__title {
  font-size: 20px;
  margin: auto;
}

igx-divider {
  display: flex;
  border: 1px solid #ededed;
}

button {
  margin-top: 2px;
  margin-bottom: 65px;
  width: 215px;
}

igx-carousel {
  margin-top: 16px;
  height: 400px;
}