$bg: #1f1f1f;
$htc: #bdeaf2;

.content-wrap {
    margin-top: 20px;
    width: 20%;
    height: 2%;

}

igx-icon {
    font-size: 30px;
    color: $htc;
}

button {
    background: $bg;
    border: $bg;
}