@import '~igniteui-angular/lib/core/styles/themes/index';

$htc: #bdeaf2;
$bg: #1f1f1f;
$pink: #ff2ad2;

$dark-navbar: igx-navbar-theme(
  $text-color: #FFCD0F,
  $background: $bg,
  $idle-icon-color: white,
  $hover-icon-color: $pink
);

@include igx-navbar($dark-navbar);

:host {
  ::ng-deep {
      @include igx-navbar($dark-navbar);
  }
}

igx-navbar {
  position: sticky;
  width: flex;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
}
