<div>
  <h4>Trips</h4>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="CURRENT">
      <igx-list>
        <ng-template igxEmptyList>
          <h4 class="empty">No trips! :(</h4>
        </ng-template>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="UPCOMING">
      <igx-list>
        <ng-template igxEmptyList>
          <h4 class="empty">No trips! :(</h4>
        </ng-template>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="PREVIOUS">
      <igx-list>
        <ng-template igxEmptyList>
          <h4 class="empty">No trips! :(</h4>
        </ng-template>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>