<div>
  <h4>Trips</h4>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="CURRENT">
      <igx-list>
            <igx-list-item *ngFor="let current of current" (click)="onSelection(current)" routerLink="/route">
              <p igxListLineTitle>Route: {{current[0].route}}</p>
              <!-- <p igxListLineTitle>Destination: {{current.destination}}</p> -->
            </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="UPCOMING">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You have no upcoming trips.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let upcoming of upcoming" (click)="onSelection(upcoming)" routerLink="/route">
          <!-- <p igxListLineTitle>Origin: {{upcoming.origin}}</p> -->
          <p igxListLineTitle>Route: {{upcoming[0].route}}</p>
          <!-- <p igxListLineTitle>Destination: {{upcoming.destination}}</p> -->
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="PREVIOUS">
      <igx-list>
        <igx-list-item *ngFor="let previous of previous" (click)="onSelection(previous)" routerLink="/route">
          <!-- <p igxListLineTitle>Origin: {{previous.origin}}</p> -->
          <p igxListLineTitle>Route: {{previous[0].route}}</p>
          <!-- <p igxListLineTitle>Destination: {{previous.destination}}</p> -->
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>
