<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="CURRENT">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You aren't on a trip.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
            <igx-list-item *ngFor="let current of current" (click)="dialog.open()">
              <p igxListLineTitle>Route: {{current[0].route}}</p>
              <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
                rightButtonLabel="Edit" (onRightButtonSelect)="onDialogOKSelected($event)"
                message="FILL IN ROUTE INFORMATION">
              </igx-dialog>
            </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="UPCOMING">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You have no upcoming trips.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let upcoming of upcoming" (click)="dialog.open()">
          <p igxListLineTitle>Route: {{upcoming[0].route}}</p>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="onDialogOKSelected($event)"
            message="FILL IN ROUTE INFORMATION">
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="PREVIOUS">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You haven't taken a trip yet.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let previous of previous" (click)="dialog.open()">
          <p igxListLineTitle>Route: {{previous[0].route}}</p>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="onDialogOKSelected($event)"
            message="FILL IN ROUTE INFORMATION">
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>
