<div style="visibility: hidden;"></div>
<agm-map *ngIf="currentPosition"

 [latitude]="currentPosition.lat"
[longitude]="currentPosition.lng"
[styles]="styles"
[zoom]="15" 
[disableDefaultUI]="true"
(mapClick)="showStops($event)"
>
<!-- *ngFor="let waypoint of waypoints; let i = index" -->
<!-- [iconUrl]="src/assets/icons/face-24px.svg" -->
    
    <div *ngIf="snapshotUrl === '/route'">

        <!-- (tilesLoaded)="loadSetter()" -->
        <agm-direction
        [origin]="origin" 
        [destination]="destination" 
        [waypoints]="waypoints" 
        [renderOptions]="renderOptions"
        >
        </agm-direction>
        <agm-marker *ngIf="isLoaded"
        [latitude]="currentPosition.lat"
        [longitude]="currentPosition.lng"
        >
        </agm-marker>
        
    </div>

    <div *ngIf="snapshotUrl === '/explore'">
        <agm-marker *ngFor="let waypoint of waypoints; let i = index"
        [animation]="BOUNCE"
        [latitude]="waypoint.location.lat" 
        [longitude]="waypoint.location.lng" 
        >
        </agm-marker>
        
        <agm-marker
        [latitude]="currentPosition.lat"
        [longitude]="currentPosition.lng"
        >
        </agm-marker>
    </div>


</agm-map>