<!-- '/route' map -->
<agm-map *ngIf="snapshotUrl === '/route' && currentPosition"
[latitude]="currentPosition.lat"
[longitude]="currentPosition.lng"
[zoom]="12"
[styles]="styles"
[disableDefaultUI]="true"
(mapClick)="showClickedPosition($event)"
>
  
    <agm-direction *ngIf="origin && destination"
    [origin]="origin" 
    [destination]="destination" 
    [waypoints]="waypoints" 
    [renderOptions]="renderOptions"
    >
    </agm-direction>
    <agm-marker 
    [latitude]="currentPosition.lat"
    [longitude]="currentPosition.lng"
    >
        <agm-info-window
        [disableAutoPan]="true"
        [isOpen]="true"
        >
        Look at you, being all right here!!
        </agm-info-window>

    </agm-marker>  

</agm-map>

<!-- '/explore' map -->
<agm-map *ngIf="snapshotUrl === '/explore' && currentPosition"
[latitude]="currentPosition.lat"
[longitude]="currentPosition.lng"
[styles]="styles"
[zoom]="14" 
[disableDefaultUI]="true"
> 
<div *ngIf="nearbyPlaces">
    <agm-marker *ngFor="let place of nearbyPlaces; let i = index"
    [latitude]="place.lat" 
    [longitude]="place.lng" 
    [openInfoWindow]="true"
    [iconUrl]="place.icon"
    [markerClickable]="true"
    (markerClick)="getPlacePhoto(place.photos)"
    >
    <agm-info-window 
    [disableAutoPan]="true"
    [isOpen]="isOpen"
    >
    <div *ngIf="image"><img src={{image}}>{{image}}</div><br>
    {{place.name}}<br>
    {{place.address}}<br>
    rating: {{place.rating}}
    </agm-info-window>
    </agm-marker>
</div>
    <agm-marker
    [latitude]="currentPosition.lat"
    [longitude]="currentPosition.lng"
    >
        <agm-info-window
        [disableAutoPan]="true"
        [isOpen]="true"
        >
        Look at you, being all right here!!
        </agm-info-window>
    </agm-marker>

</agm-map>
