<!-- '/route' map -->
<agm-map *ngIf="snapshotUrl === '/route' && currentPosition"
[latitude]="origin"
[longitude]="destination"
[styles]="styles"
[zoom]="15" 
[disableDefaultUI]="true"
(mapClick)="showStops($event)"
>
  
    <agm-direction *ngIf="origin && destination"
    [origin]="origin" 
    [destination]="destination" 
    [waypoints]="waypoints" 
    [renderOptions]="renderOptions"
    >
    </agm-direction>
    <agm-marker 
    [latitude]="currentPosition.lat"
    [longitude]="currentPosition.lng"
    >
    </agm-marker>  

</agm-map>

<!-- '/explore' map -->
<agm-map *ngIf="snapshotUrl === '/explore' && currentPosition"
[latitude]="currentPosition.lat"
[longitude]="currentPosition.lng"
[styles]="styles"
[zoom]="15" 
[disableDefaultUI]="true"
(mapClick)="showStops($event)"
> 

    <agm-marker *ngFor="let waypoint of waypoints; let i = index"
    [latitude]="waypoint.location.lat" 
    [longitude]="waypoint.location.lng" 
    >
    </agm-marker>
    
    <agm-marker
    [latitude]="currentPosition.lat"
    [longitude]="currentPosition.lng"
    >
    </agm-marker>

</agm-map>
