<div>
  <h4 class="igx-typography__h4">Places</h4>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">

    <igx-tabs-group label="Likes">
        <div class="card-column">
          <igx-card routerLink="/details">
            <igx-card-header>
              <h3 igxCardHeaderTitle>Sushi</h3>
              <h5 igxCardHeaderSubtitle>2 mi</h5>
              <igx-icon>thumb_up</igx-icon>
            </igx-card-header>
            <igx-card-media height="150px">
              <img src="../../assets/images/sushi.jpg">
            </igx-card-media>
          </igx-card>
        </div>
    </igx-tabs-group>

    <igx-tabs-group label="Interests">
        <div class="card-column">
          <igx-card routerLink="/details">
            <igx-card-header>
              <h3 igxCardHeaderTitle>Sushi</h3>
              <h5 igxCardHeaderSubtitle>2 mi</h5>
              <igx-icon>thumb_up</igx-icon>
            </igx-card-header>
            <igx-card-media height="150px">
              <img src="../../assets/images/sushi.jpg">
            </igx-card-media>
          </igx-card>
        </div>
    </igx-tabs-group>
  </igx-tabs>
</div>
