<div>
  <h4 class="igx-typography__h4">Places</h4>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">

    <igx-tabs-group label="Likes">
        <div class="card-column">
          <ng-container *ngFor="let places of userPlaces">
            <h5>{{places[0].city}}</h5>
            <igx-carousel [pause]="true" [loop]="false" [navigation]="true">
              <ng-container *ngFor="let place of places">
                <igx-slide>
                  <div class="card-column">
                    <igx-card routerLink="/details">
                      <igx-card-header>
                        <h3 igxCardHeaderTitle>{{place.name}}</h3>
                        <igx-icon [ngClass]="{'change': newColor}" (click)=onUpvote(place)>thumb_up</igx-icon>
                      </igx-card-header>
                      <igx-card-media routerLink="/details" height="200px">
                        <ng-container *ngIf="place.photo">
                          <img [src]="getImageSrc(place.photo)" />
                        </ng-container>
                      </igx-card-media>
                    </igx-card>
                  </div>
                </igx-slide>
              </ng-container>
            </igx-carousel>
            <igx-divider></igx-divider>
          </ng-container>
        </div>
    </igx-tabs-group>


        <igx-tabs-group label="Interests">
          <div class="card-column">
            <ng-container *ngFor="let places of userPlaces"></ng-container>
            <igx-card>
              <igx-card-header>
                <h3 igxCardHeaderTitle>Interesting</h3>
                <button [ngClass]="{'change': newColor}" (click)="toggleColor()">
                  <igx-icon fontSet="material">thumb_up</igx-icon>
                </button>
              </igx-card-header>
              <igx-card-media routerLink="/details" height="200px"></igx-card-media>
            </igx-card>
          </div>
        </igx-tabs-group>
        </igx-tabs>
        </div>


    <!-- <igx-tabs-group label="Interests">
        <div class="card-column">
          <igx-card>
            <igx-card-header>
              <h3 igxCardHeaderTitle>Interesting</h3>
              <button [ngClass]="{'change': newColor}" (click)="toggleColor()">
                <igx-icon fontSet="material">thumb_up</igx-icon>
              </button>
            </igx-card-header>
              <igx-card-media routerLink="/details" height="200px"></igx-card-media>
          </igx-card>
        </div>
    </igx-tabs-group>
  </igx-tabs>
</div> -->