<div>
  <h4 class="igx-typography__h4">Places</h4>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">

  <igx-tabs tabsType="fixed">

    <igx-tabs-group label="Likes">
      <igx-carousel [pause]="true" [loop]="false" [navigation]="true">
        <ng-container *ngFor="let likedPlace of userPlaces[0].likedPlaces">
          <igx-slide>
            <div class="card-column">
              <igx-card>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>{{likedPlace.name}}</h3>
                </igx-card-header>
                <igx-card-media (click)="navigateWithState(likedPlace.placeId)" height="200px">
                  <ng-container>
                    <img [src]="likedPlace.photo">
                  </ng-container>
                </igx-card-media>
              </igx-card>
            </div>
          </igx-slide>
        </ng-container>
      </igx-carousel>
    </igx-tabs-group>

    <igx-tabs-group label="Saved">
        <igx-carousel [pause]="true" [loop]="false" [navigation]="true">
          <ng-container *ngFor="let savedPlace of userPlaces[0].savedPlaces">
            <igx-slide>
              <div class="card-column">
                <igx-card>
                  <igx-card-header>
                    <h3 igxCardHeaderTitle>{{savedPlace.name}}</h3>
                  </igx-card-header>
                  <igx-card-media (click)="navigateWithState(savedPlace.placeId)" height="200px">
                    <ng-container *ngIf="savedPlace.photo">
                      <img [src]="savedPlace.photo">
                    </ng-container>
                  </igx-card-media>
                </igx-card>
              </div>
            </igx-slide>
          </ng-container>
        </igx-carousel>
    </igx-tabs-group>

