/* You can add global styles to this file, and also import other style files */
$black: #000000;
$white: rgb(255, 255, 255);
$primary-font-stack: Helvetica, sans-serif;

body {
    background-color: $black;
    color: $white;
    font: Roboto;
}

div {
    color: $white;
    font: Roboto;
}