<div>
  <h4 class="igx-typography__h4">Route</h4>
</div>

<div class="valign-wrapper" style="width: 100%;height:370px;position:relative;">
  <div class="valign" style="width: 100%;height: 100%">
    <div class="row" style="height: 100%">
      <div class="col s12" style="height: 100%">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>


<form class="input-group-form" (keyup.enter)="onSubmit()">
  <igx-input-group #originGroup type="border">
    <input #origin
    igxInput
    name="origin"
    type="text"
    [(ngModel)]="form.origin"
    required="required"
    (ngModelChange)="onKey('origin')"
    [igxAutocomplete]="originSuggestions"
    [igxAutocompleteSettings]='settings'
    (click)="onClick()"
    />
    <label igxLabel for="origin">Origin</label>
    <igx-suffix>
      <igx-icon>place</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <igx-drop-down #originSuggestions maxHeight="300px">
    <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{suggestion}}
    </igx-drop-down-item>
</igx-drop-down>
  <igx-input-group type="border">
    <input #destination 
    igxInput 
    name="destination"
    type="text" 
    [(ngModel)]="form.destination"
    (ngModelChange)="onKey('destination')"
    [igxAutocomplete]="destinationSuggestions"
    [igxAutocompleteSettings]='settings'
    (click)="onClick()"
    required="required" 
    />
    <label igxLabel for="destination">Destination</label>
    <igx-suffix>
        <igx-drop-down #destinationSuggestions maxHeight="300px">
            <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
                {{suggestion}}
            </igx-drop-down-item>
        </igx-drop-down>
      <igx-icon>place</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <ng-template #mySelectIcon>
    <igx-icon fontSet="fa-solid" name="fa-check-circle"></igx-icon>
  </ng-template>
  <igx-input-group type="box">
    <input igxInput name="destination" type="text" [(ngModel)]="form.destination" />
    <label igxLabel for="destination">Add A Stop</label>
    <igx-suffix>
      <igx-icon>place</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <ng-template #mySelectIcon>
    <igx-icon fontSet="fa-solid" name="fa-check-circle"></igx-icon>
  </ng-template>
  <igx-date-picker name="date" (onSelection)="onDateSelection($event)">
    <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-value="value" let-displayData="displayData">
      <igx-input-group (click)="openDialog()" type="box">
        <label igxLabel>Start Date</label>
        <input igxInput [value]="displayData" />
        <igx-suffix>
          <igx-icon>today</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </ng-template>
  </igx-date-picker>
  <igx-date-picker name="date" (onSelection)="onDateSelection($event)">
    <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-value="value" let-displayData="displayData">
      <igx-input-group (click)="openDialog()" type="box">
        <label igxLabel>End Date</label>
        <input igxInput [value]="displayData" />
        <igx-suffix>
          <igx-icon>today</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </ng-template>
  </igx-date-picker>
  <section class="chips-places">
    <igx-card>
      <i class="fas fa-fish fa-3x"></i>
      <span>Aquariam</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-palette fa-3x"></i>
      <span>Art Gallery</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-bread-slice fa-3x"></i>
      <span>Bakery</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-beer fa-3x"></i>
      <span>Bars</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-book fa-3x"></i>
      <span>Book Store</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-coffee fa-3x"></i>
      <span>Cafe</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-campground fa-3x"></i>
      <span>Campground</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-shopping-bag fa-3x"></i>
      <span>Clothing Store</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-dumbbell fa-3x"></i>
      <span>Gym</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-bed fa-3x"></i>
      <span>Lodging</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-video fa-3x"></i>
      <span>Movie Theater</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-palette fa-3x"></i>
      <span>Museum</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-glass-cheers fa-3x"></i>
      <span>Night Club</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-tree fa-3x"></i>
      <span>Park</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-utensils fa-3x"></i>
      <span>Restaurant</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-spa fa-3x"></i>
      <span>Spa</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-gifts fa-3x"></i>
      <span>Shopping Mall</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-grin fa-3x"></i>
      <span>Theme Park</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-archway fa-3x"></i>
      <span>Tourism</span>
    </igx-card>
    <igx-card>
      <i class="fas fa-paw fa-3x"></i>
      <span>Zoo</span>
    </igx-card>
  </section>
</form>
<div style="text-align: center">
<button igxButton="raised" igxButtonColor="white" igxButtonBackground="#353A50" (click)="alert.open()">SAVE TO
  TRIPS</button>
  <igx-dialog #alert title="Notification" message="Your route has been saved to trips!" leftButtonLabel="OK"
    (onLeftButtonSelect)="alert.close()">
  </igx-dialog>
</div>
