@import '~igniteui-angular/lib/core/styles/themes/index';

$my-chip-theme: igx-chip-theme(
  $background: #353a50
);

:host {
  ::ng-deep {
    @include igx-chip($my-chip-theme);
  }
}

.igx-input-group,
.center-content,
.select {
  margin-top: 8px;

}

.map-wrapper {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width: 706px;
  height: 370px;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.input-group-form {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 8px;
  margin: 8px;
}

.chips-places {
  padding: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.date-picker-wrapper {
  padding: 1rem;
}

igx-card {
  color: white;
  background: #353a50;
  font-size: 9px;
  font-family: 'Roboto';
  align-items: center;
  height: 56px;
  width: 65px;
  margin: 1em;
}

button {
  margin-top: 10px;
  width: 215px;
}

i {
  margin-top: 5px;
}