<!------------------------------------- map ----------------------------------->
<div class="map-wrapper">
  <div class="row" style="height: 100%">
    <div class="col s12" style="height: 100%">
      <app-map></app-map>
    </div>
  </div>
</div>

<form class="input-group-form" (keyup.enter)="onSubmit()">
  <!------------------------------- origin input -------------------------------->
  <igx-input-group type="border">
    <input igxInput name="origin" type="text" [(ngModel)]="form.origin" required="required"
      (ngModelChange)="onKey('origin', null)" [igxAutocomplete]="originSuggestions" [igxAutocompleteSettings]='settings'
      (click)="onClick()" />
    <label igxLabel for="origin">Origin</label>
    <igx-suffix>
      <igx-icon>place</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <igx-drop-down #originSuggestions maxHeight="300px">
    <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
      {{suggestion}}
    </igx-drop-down-item>
  </igx-drop-down>
  <!-------------------------- waypoints input0 ----------------------------------->
  <igx-input-group type="border">
    <input igxInput name="waypoint0" type="text" [(ngModel)]="form.waypoints[0]" (ngModelChange)="onKey('waypoints', 0)"
      [igxAutocomplete]="waypoint0Suggestions" [igxAutocompleteSettings]='settings' />
    <label igxLabel for="waypoint0">Waypoint (optional)</label>
    <igx-suffix *ngIf="!show[1]">
      <igx-icon (click)="addWaypointInput()">add</igx-icon>
    </igx-suffix>
    <igx-suffix *ngIf="!show[1]">
      <igx-icon (click)="removeWaypointInput(0)">remove</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <igx-drop-down #waypoint0Suggestions maxHeight="300px">
    <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
      {{suggestion}}
    </igx-drop-down-item>
  </igx-drop-down>
  <!-------------------------- waypoints input1 ----------------------------------->
  <ng-container *ngIf="show[1]">
    <igx-input-group type="border">
      <input igxInput name="waypoint1" type="text" [(ngModel)]="form.waypoints[1]"
        (ngModelChange)="onKey('waypoints', 1)" [igxAutocomplete]="waypoint1Suggestions"
        [igxAutocompleteSettings]='settings' />
      <label igxLabel for="waypoint1">Waypoint</label>
      <igx-suffix *ngIf="!show[2]">
        <igx-icon (click)="addWaypointInput()">add</igx-icon>
      </igx-suffix>
      <igx-suffix *ngIf="!show[2]">
        <igx-icon (click)="removeWaypointInput(1)">remove</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-drop-down #waypoint1Suggestions maxHeight="300px">
      <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{suggestion}}
      </igx-drop-down-item>
    </igx-drop-down>
  </ng-container>
  <!-------------------------- waypoints input2 ----------------------------------->
  <ng-container *ngIf="show[2]">
    <igx-input-group type="border">
      <input igxInput name="waypoint" type="text" [(ngModel)]="form.waypoints[2]"
        (ngModelChange)="onKey('waypoints', 2)" [igxAutocomplete]="waypoint2Suggestions"
        [igxAutocompleteSettings]='settings' />
      <label igxLabel for="waypoint2">Waypoint</label>
      <igx-suffix *ngIf="!show[3]">
        <igx-icon (click)="addWaypointInput()">add</igx-icon>
      </igx-suffix>
      <igx-suffix *ngIf="!show[3]">
        <igx-icon (click)="removeWaypointInput(2)">remove</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-drop-down #waypoint2Suggestions maxHeight="300px">
      <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{suggestion}}
      </igx-drop-down-item>
    </igx-drop-down>
  </ng-container>
  <!-------------------------- waypoints input3 ----------------------------------->
  <ng-container *ngIf="show[3]">
    <igx-input-group type="border">
      <input igxInput name="waypoint3" type="text" [(ngModel)]="form.waypoints[3]"
        (ngModelChange)="onKey('waypoints', 3)" [igxAutocomplete]="waypoint3Suggestions"
        [igxAutocompleteSettings]='settings' required="required" />
      <label igxLabel for="waypoint3">Waypoint</label>
      <igx-suffix *ngIf="!show[4]">
        <igx-icon (click)="addWaypointInput()">add</igx-icon>
      </igx-suffix>
      <igx-suffix *ngIf="!show[4]">
        <igx-icon (click)="removeWaypointInput(2)">remove</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-drop-down #waypoint3Suggestions maxHeight="300px">
      <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{suggestion}}
      </igx-drop-down-item>
    </igx-drop-down>
  </ng-container>
  <!-------------------------- waypoints input4 ----------------------------------->
  <ng-container *ngIf="show[4]">
    <igx-input-group type="border">
      <input igxInput name="waypoint4" type="text" [(ngModel)]="form.waypoints[4]"
        (ngModelChange)="onKey('waypoints', 4)" [igxAutocomplete]="waypoint4Suggestions"
        [igxAutocompleteSettings]='settings' required="required" />
      <label igxLabel for="waypoint4">Waypoint</label>
      <igx-suffix *ngIf="!show[5]">
        <igx-icon (click)="removeWaypointInput(4)">remove</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-drop-down #waypoint4Suggestions maxHeight="300px">
      <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{suggestion}}
      </igx-drop-down-item>
    </igx-drop-down>
  </ng-container>
  <!----------------------------- destination input ---------------------------------->
  <igx-input-group type="border">
    <input igxInput name="destination" type="text" [(ngModel)]="form.destination"
      (ngModelChange)="onKey('destination', null)" [igxAutocomplete]="destinationSuggestions"
      [igxAutocompleteSettings]='settings' (click)="onClick()" required="required" />
    <label igxLabel for="destination">Destination</label>
    <igx-suffix>
      <igx-icon>place</igx-icon>
    </igx-suffix>
  </igx-input-group>
  <igx-drop-down #destinationSuggestions maxHeight="300px">
    <igx-drop-down-item *ngFor="let suggestion of suggestions" [value]="suggestion">
      {{suggestion}}
    </igx-drop-down-item>
  </igx-drop-down>
  <!---------------------------- starting date -------------------------------------- -->
  <igx-date-picker [value]="date" name="startDate" (onSelection)="onDateSelection($event)" [(ngModel)]="form.dateStart">
    <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-displayData="displayData">
      <igx-input-group type="box" (click)="openDialog()">
        <label igxLabel>Starting Date</label>
        <input igxInput [value]="displayData" />
        <igx-suffix>
          <igx-icon>today</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <label>{{value}}</label>
    </ng-template>
  </igx-date-picker>
<!---------------------------- end date -------------------------------------- -->
  <igx-date-picker [value]="date" name="endDate" (onSelection)="onDateSelection($event)" [(ngModel)]="form.dateEnd">
    <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-displayData="displayData">
      <igx-input-group type="box" (click)="openDialog()">
        <label igxLabel>End Date</label>
        <input igxInput [value]="displayData" />
        <igx-suffix>
          <igx-icon>today</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <label>{{value}}</label>
    </ng-template>
  </igx-date-picker>
  <!---------------------------- time picker ----------------------------------->
  <!-- <igx-time-picker name="dateTime" (onValueChanged)="onTimeSelection($event)">
    <ng-template igxTimePickerTemplate let-openDialog="openDialog" let-value="value" let-displayTime="displayTime">
      <igx-input-group (click)="openDialog()" type="box">
        <label igxLabel>Time </label>
        <input igxInput [value]="displayTime" />
        <igx-suffix>
          <igx-icon>access_time</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </ng-template>
  </igx-time-picker> -->
  <!---------------------------- places of interests buttons ----------------------------------->
  <section class="chips-places">
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-grin fa-3x"></i>
      <span>Amusement Park</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-campground fa-3x"></i>
      <span>Campground</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-bed fa-3x"></i>
      <span>Lodging</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-palette fa-3x"></i>
      <span>Museum</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-tree fa-3x"></i>
      <span>Park</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-gifts fa-3x"></i>
      <span>Shopping Mall</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-archway fa-3x"></i>
      <span>Tourism</span>
    </igx-card>
    <igx-card class="chips" (click)="chooseCategory()">
      <i class="fas fa-paw fa-3x"></i>
      <span>Zoo</span>
    </igx-card>
  </section>
</form>
<!----------------------------- save to trips button -------------------------------------->
<div style="text-align: center">
  <button igxButton="raised" igxButtonColor="white" igxButtonBackground="#353A50"
    (click)="alert.open(); submitTrip(form)">SAVE TO
    TRIPS</button>
  <igx-dialog #alert title="Notification" message="Your route has been saved to trips!" leftButtonLabel="OK"
    (onLeftButtonSelect)="alert.close()">
  </igx-dialog>
</div>
