@import '~igniteui-angular/lib/core/styles/themes/index';
// @include igx-core();
// @include igx-theme($default-palette);

$bg: #1f1f1f;
$charlotte: #bdeaf2;
$cloud-burst: #353a50;
$razzle-dazzle-rose: #ff2ad2;

html,
body {
  height: 100%;
  max-width: 414px;
  margin: auto;
  background-color: $bg;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: $charlotte;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

h3 {
  color: white;
  text-align: left;
  font-family: 'Roboto-Light', sans-serif;
}

h4 {
  color: $charlotte;
  text-align: center;
  font-family: 'Roboto-Light', sans-serif;
}

h5 {
  color: $charlotte;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

.thumb {
  color: $razzle-dazzle-rose;
}

.save {
  color: $razzle-dazzle-rose;
}