@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

$htc: #bdeaf2;
$bg: #1f1f1f;
$pink: #ff2ad2;

$charlotte: #bdeaf2;
$cloud-burst: #353a50;
$razzle-dazzle-rose: #ff2ad2;

h1 {
  color: $htc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

h3 {
  color: white;
  text-align: left;
  font-family: 'Roboto-Light', sans-serif;
}

h4 {
  color: $htc;
  text-align: center;
  font-family: 'Roboto-Light', sans-serif;
}

h5 {
  color: $htc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: scroll;
  background-color: $bg;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.sample-column {
  display: block;
  flex-flow: row nowrap;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  // margin: 16px;
  // min-width: 280px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

$green-palette: igx-palette(
  $primary: $pink,
  $secondary: #72da67,
  $surface: $bg,
);

.fin-dark-theme {
  @include igx-dark-theme($green-palette);
  background: $bg;

  ::-moz-placeholder {
    opacity: 1;
  }
}

.dark-theme {
  @include igx-dark-theme($green-palette);
}
