<div>
  <h4 class="igx-typography__h4">Details</h4>
</div>

<div class="card-column">
  <igx-card>
    <igx-card-media height="248px">
      <img src="../../assets/images/sushi.jpg">
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>Sushi</h3>
      <h5 igxCardHeaderSubtitle>2 mi</h5>
      <div class="button-sample">
        <button [ngClass]="{'change': newColor}" (click)="toggleColor()">
          <igx-icon fontSet="material">thumb_up</igx-icon>
        </button>
      </div>
    </igx-card-header>
    <igx-card-content>
      <p>Dynamic and detailed information related to the item selected and presented on this page.</p>
    </igx-card-content>
  </igx-card>
</div>
