@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

$colorful-card: igx-card-theme(
  $background: #353A50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}

.card-column {
  align-content: flex-start;
  align-self: center;
  display: block;
  flex-direction: row;
  justify-content: space-around;
  max-width: 300px;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 200px;
  margin: 0 auto;
  // margin-top: 15px;
}

p {
  font-family: 'Roboto', sans-serif;
}

h5 {
  text-align: left;
}

igx-icon {
  margin-top: 20px;
}

igx-card-header {
  margin-top: -10px;
  margin-bottom: -10px;
}