<div>
  <h4 class="igx-typography__h4">Details</h4>
</div>

<div class="card-column">
  <igx-card>
    <igx-card-media>
      <img src="../../assets/images/sushi.jpg">
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>Fair Grinds Coffeehouse</h3>
      <h3 igxCardHeaderSubtitle>Cafe</h3>
      <div class="button-sample">
        <button [ngClass]="{'change': newColor}" (click)="toggleColor()">
          <igx-icon fontSet="material">thumb_up</igx-icon>
        </button>
      </div>
    </igx-card-header>
    <igx-card-content>
      <p>Cozy coffeehouse with pastries, vegan snacks & fair-trade brews, plus outdoor seating.</p>
    </igx-card-content>
    <ng-container>
    <div class="line-wrapper">
    <igx-icon fontSet="material">computer</igx-icon>
    <h3 igxCardHeaderSubtitle>fairgrinds.com</h3>
    </div>
    <div class="line-wrapper">
      <igx-icon fontSet="material">phone</igx-icon>
    <h3 igxCardHeaderSubtitle>(504) 913-9072</h3>
    </div>
    <div class="line-wrapper">
      <igx-icon fontSet="material">location_city</igx-icon>
    <h3 igxCardHeaderSubtitle>3133 Ponce De Leon St
      New Orleans, LA 70119</h3>
      </div>
      </ng-container>
  </igx-card>
</div>


