<div>
  <h4 class="igx-typography__h4">Details</h4>
</div>

<div class="card-column">
  <igx-card>
    <igx-card-media>
      <img src="../../assets/images/fair grinds.jpg">
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>Fair Grinds Coffeehouse</h3>
      <h3 igxCardHeaderSubtitle>Cafe</h3>
        <button class="button-sample" [ngClass]="{'thumb': thumbColor}" (click)="toggleThumb()">
          <igx-icon fontSet="material">thumb_up</igx-icon>
        </button>
          <button class="button-sample" [ngClass]="{'save': saveColor}" (click)="toggleSave()">
            <igx-icon fontSet="material">add_circle_outline</igx-icon>
          </button>
    </igx-card-header>
    <igx-card-content>
      <p>Cozy coffeehouse with pastries, vegan snacks & fair-trade brews, plus outdoor seating.</p>
    </igx-card-content>
    <ng-container>
    <div class="line-wrapper">
    <igx-icon fontSet="material">computer</igx-icon>
    <h3 igxCardHeaderSubtitle>fairgrinds.com</h3>
    </div>
    <div class="line-wrapper">
      <igx-icon fontSet="material">phone</igx-icon>
    <h3 igxCardHeaderSubtitle>(504) 913-9072</h3>
    </div>
    <div class="line-wrapper">
      <igx-icon fontSet="material">location_city</igx-icon>
    <h3 igxCardHeaderSubtitle>3133 Ponce De Leon St
      New Orleans, LA 70119</h3>
      </div>
      </ng-container>
  </igx-card>
</div>


